<div class="_header__lang _dropdown">
  <button type="button" class="_header__lang-btn js-dropdown">
    <span class="_header__lang-flag _header__lang-flag--ru"></span>
    <span class="_header__lang-value">RU</span>
  </button>

  <div class="_dropdown__bg"></div>
  <div class="_dropdown__body">
    <ul class="_list">
      <li>
        <span class="_lang _lang--ru">Русский</span>
      </li>
      <li>
        <a href="/index-en.html" class="_lang _lang--en">English</a>
      </li>
    </ul>
  </div>
</div>
