._contacts {
  position: relative;
  background-color: var(--grey-90);
  margin-top: 29px;

  &__map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateZ(0);

    ymaps[class$="-inner-panes"] > ymaps:not(ymaps[class$="-places-pane"]) {
      filter: invert(90%) grayscale(100%);
    }
  }

  &__content {
    padding: 80px 0 60vh;
    display: grid;
    gap: var(--gap);
    transform: translateZ(0);
    pointer-events: none;

    @include tablet-only {
      grid-template-columns: 1fr 4fr 6fr;
      padding: 80px 0 40px;
    }

    @include desktop {
      padding: 182px 0 96px;
      grid-template-columns: 1fr 3fr 8fr;
    }
  }

  &__body {
    background-color: var(--white-color);
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    pointer-events: auto;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.4);

    @include mobile {
      padding: 20px;
      max-width: 300px;
      margin: auto;
      align-items: center;
    }
  }

  &__title {
    font-weight: 500;
    font-size: 28px;
    line-height: 35px;
  }

  &__phone {
    color: var(--grey-50);
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    margin-top: 71px;

    @include mobile {
      margin-top: 30px;
    }
  }

  &__email {
    color: var(--grey-50);
    font-size: 16px;
    line-height: 20px;
    margin-top: 8px;
  }

  &__phone,
  &__email {
    border-bottom: 1px solid transparent;
    transition: border var(--delay) ease-in-out;

    &:hover {
      border-bottom-color: var(--grey-50);
    }
  }

  &__address {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 124.41%;
    margin-top: 71px;

    @include mobile {
      margin-top: 30px;
    }
  }

  &__callback {
    margin-top: 71px;
    align-self: stretch;

    @include mobile {
      margin-top: 30px;
    }

    button {
      width: 100%;
    }
  }

  &__footer {
    padding: 41px 0;
    transform: translateZ(0);

    &-links {
      display: flex;
      gap: 12px;
      justify-content: space-between;
      align-items: center;

      @include touch {
        flex-direction: column;
        text-align: center;
        gap: 20px;
      }
    }

    &-copyright {
      margin: 0;
      font-size: 14px;
      color: var(--white-color);
      text-align: center;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &-link {
      position: relative;
      color: var(--primary-color);
      text-decoration: none;
      font-size: 14px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: var(--primary-color);
        transform: scaleX(0);
        transform-origin: right;
        transition: transform calc(1.5 * var(--delay)) ease-in-out;
      }

      &:hover {
        &::after {
          transform-origin: left;
          transform: scaleX(1);
        }
      }
    }
  }
}
