@font-face {
    font-family: 'Yandex Sans Text';
    src: url('YandexSansText-Light.woff2') format('woff2'),
        url('YandexSansText-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Yandex Sans Text';
    src: url('YandexSansText-Bold.woff2') format('woff2'),
        url('YandexSansText-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Yandex Sans Text';
    src: url('YandexSansText-Medium.woff2') format('woff2'),
        url('YandexSansText-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Yandex Sans Text';
    src: url('YandexSansText-Regular.woff2') format('woff2'),
        url('YandexSansText-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

