._block-reviews {
  padding: 80px 0;
}

@media (max-width: 1080px) {
  ._block-reviews {
    padding: 40px 0;
  }
}

._block-reviews__body {
  margin-top: 60px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

@media (max-width: 768px) {
  ._block-reviews__body {
    margin-top: 40px;
    grid-template-columns: 1fr;
    gap: 16px;
  }
}

._block-reviews__item {
  border: 1px solid var(--grey-50);
  border-radius: 24px;
  overflow: hidden;
  padding: 20px;
}

._block-reviews__item a {
  display: block;
  font-size: 0;
}

._block-reviews__item img {
  width: 100%;
  height: auto;
}
