@import "_text-content.css";
@import "_block-tech-stack.css";
@import "_block-reviews.css";

._contacts__footer-link {
  max-width: 90vw;
}

._contacts__item {
  margin: 0.5em 0;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 124.41%;
}

@media (max-width: 768px) {
  ._title {
    font-size: 32px;
  }
}

@media (min-width: 1081px) {
  ._header {
    gap: 20px;
  }
}

@media (min-width: 1360px) {
  ._header {
    gap: 60px;
  }
}

@media (min-width: 1081px) {
  ._nav__item:not(:first-child) {
    margin-left: 36px;
  }
}

@media (min-width: 1360px) {
  ._nav__item:not(:first-child) {
    margin-left: 40px;
  }
}
