._achievements {
  &__title {
  }

  &__description {
    font-size: 16px;
    line-height: 28px;
    margin: 29px 0 0;
    padding-right: 20%;
  }

  &__list {
    list-style: none;
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: var(--gap);
  }

  &__item {
    &-value {
      margin: 0;
      font-weight: 700;
      font-size: 88px;
      line-height: 1em;
    }

    &-desc {
      font-size: 14px;
      line-height: 22px;
      margin: 12px 0 0;
    }
  }
}
