._block-reviews {
  padding: 80px 0;

  @include desktop {
    padding: 40px 0;
  }

  &__body {
    margin-top: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;

    @include touch {
      margin-top: 40px;
      grid-template-columns: 1fr;
      gap: 16px;
    }
  }

  &__item {
    border: 1px solid var(--grey-50);
    border-radius: 24px;
    overflow: hidden;
    padding: 20px;

    a {
      display: block;
      font-size: 0;
    }

    img {
      width: 100%;
      height: auto;
    }
  }
}
