._block-head {
  background-color: var(--bg-color);
  background-image: url("../img/bg.svg");
  background-size: 60px 60px;
  background-position: 30px 50px;
  padding-top: var(--header);
  min-height: 100vh;
}
