._team {
  &__title {
  }

  &__people {
    display: grid;
    gap: var(--gap);
    margin-top: 36px;

    @include tablet-only {
      grid-template-columns: repeat(2, 1fr);
    }

    @include desktop {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  &__person {
    background-color: var(--white-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 40px;

    @include mobile {
      max-width: 360px;
      margin: auto;
    }

    &-image {
      font-size: 0;

      img {
        max-width: 100%;
      }
    }

    &-name {
      font-weight: 500;
      font-size: 18px;
      line-height: 22px;
      margin-top: 28px;
    }

    &-skills {
      font-size: 14px;
      line-height: 22px;
      margin: 12px 0 0;
    }
  }
}
