<!-- Products -->

<section class="_block-products" id="products">
  <div class="_container">
    <h2 class="_block-products__title _title">Наши продукты</h2>
    <div class="_block-products__items">
      <article class="_block-products__item">
        <div class="_block-products__item-content">
          <h3 class="_block-products__item-title">Fractal</h3>
          <ul class="_block-products__item-features">
            <li class="_block-products__item-feature">
              Цифровая модель закачки технологических жидкостей в пласт
            </li>
            <li class="_block-products__item-feature">
              Подбор оптимальных технико-экономических параметров проведения ОПЗ, СКО, КГРП, РИР,
              глушения
            </li>
            <li class="_block-products__item-feature">
              Адресная адаптация ГТМ к условиям эксплуатации месторождений нефти и газа
            </li>
          </ul>
        </div>
        <div class="_block-products__item-picture">
          <img
            src="../img/products/fractal.png"
            srcset="../img/products/fractal.png 1x, ../img/products/fractal@2x.png 2x"
            width="656"
            height="310"
            alt="Fractal"
          />
        </div>
      </article>

      <article class="_block-products__item">
        <div class="_block-products__item-content">
          <h3 class="_block-products__item-title">BurOptima</h3>
          <ul class="_block-products__item-features">
            <li class="_block-products__item-feature">
              Круглосуточный контроль бурения в реальном времени, предупреждение осложнений
            </li>
            <li class="_block-products__item-feature">
              Анализ производительного времени и выявление скрытого НПВ
            </li>
            <li class="_block-products__item-feature">Сравнение эффективности буровых бригад</li>
          </ul>
        </div>
        <div class="_block-products__item-picture">
          <img
            src="../img/products/burOptima.png"
            srcset="../img/products/burOptima.png 1x, ../img/products/burOptima@2x.png 2x"
            width="656"
            height="310"
            alt="BurOptima"
          />
        </div>
      </article>
    </div>
  </div>
</section>

<!-- /Products -->
