<!-- About -->

<section class="_block-about" id="about">
  <div class="_container">
    <h2 class="_block-about__title _title">О нас</h2>
    <p class="_block-about__description">
      Тетаком — инжиниринговая компания, выполняющая работы от R&D до продаж
    </p>
    <ul class="_block-about__partners">
      <li class="_block-about__partners-item">
        <img
          src="img/partners/agni.png"
          srcset="img/partners/agni.png 1x, img/partners/agni@2x.png 2x"
          width="100"
          height="100"
          alt="Альметьевский Государственный Нефтяной Институт"
        />
      </li>
      <li class="_block-about__partners-item">
        <img
          src="img/partners/tatneft.png"
          srcset="img/partners/tatneft.png 1x, img/partners/tatneft@2x.png 2x"
          width="157"
          height="50"
          alt="TATNEFT"
        />
      </li>
      <li class="_block-about__partners-item">
        <img
          src="img/partners/kfu.png"
          srcset="img/partners/kfu.png 1x, img/partners/kfu@2x.png 2x"
          width="167"
          height="50"
          alt="Казанский федеральный университет"
        />
      </li>
      <li class="_block-about__partners-item">
        <img
          src="img/partners/bashnipineft.png"
          srcset="img/partners/bashnipineft.png 1x, img/partners/bashnipineft@2x.png 2x"
          width="115"
          height="80"
          alt="РН-БашНИПИнефть"
        />
      </li>
      <li class="_block-about__partners-item">
        <img
          src="img/partners/ugntu.png"
          srcset="img/partners/ugntu.png 1x, img/partners/ugntu@2x.png 2x"
          width="139"
          height="60"
          alt="УГНТУ"
        />
      </li>
    </ul>

    <div class="_block-about__achievements _achievements">
      <h3 class="_achievements__title _subtitle">Наши успехи</h3>
      <p class="_achievements__description">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia
        consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet. Amet
        minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat
        duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
      </p>
      <ul class="_achievements__list">
        <li class="_achievements__item">
          <p class="_achievements__item-value">50</p>
          <p class="_achievements__item-desc">выполненных НИОКР для собственных и сторонних нужд</p>
        </li>
        <li class="_achievements__item">
          <p class="_achievements__item-value">+25</p>
          <p class="_achievements__item-desc">
            высококлассных специалистов в отрасли, готовых менять мир к лучшему
          </p>
        </li>
        <li class="_achievements__item">
          <p class="_achievements__item-value">310</p>
          <p class="_achievements__item-desc">
            скважин пробурено с помощью наших инструментов мониторинга и анализа
          </p>
        </li>
        <li class="_achievements__item">
          <p class="_achievements__item-value">42</p>
          <p class="_achievements__item-desc">
            программных комплекса для мониторинга бурения, симуляции ГТМ и прогноза добычи
          </p>
        </li>
      </ul>
    </div>

    <div class="_block-about__team _team">
      <h3 class="_team__title _subtitle">Наша команда</h3>
      <div class="_team__people">
        <div class="_team__person">
          <div class="_team__person-image">
            <img
              src="img/team/marat.jpg"
              srcset="img/team/marat.jpg 1x, img/team/marat@2x.jpg 2x"
              width="134"
              height="134"
              alt="Марат Ситдиков"
            />
          </div>
          <h4 class="_team__person-name">Марат Ситдиков</h4>
          <p class="_team__person-skills">
            Кандидат наук, профессионал в нефтегазовой отрасли с девятилетним стажем. Имеет 5 лет
            работы с крупными компаниями в отрасли
          </p>
        </div>
        <div class="_team__person">
          <div class="_team__person-image">
            <img
              src="img/team/eldar.jpg"
              srcset="img/team/eldar.jpg 1x, img/team/eldar@2x.jpg 2x"
              width="134"
              height="134"
              alt="Эльдар Шарафутдинов"
            />
          </div>
          <h4 class="_team__person-name">Эльдар Шарафутдинов</h4>
          <p class="_team__person-skills">
            MBA, MSc, Oil and Gas Professional with over 9 years experience. Dealing with major
            industry operators and contractors. Development and marketing strategy
          </p>
        </div>
        <div class="_team__person">
          <div class="_team__person-image">
            <img
              src="img/team/andrey.jpg"
              srcset="img/team/andrey.jpg 1x, img/team/andrey@2x.jpg 2x"
              width="134"
              height="134"
              alt="Андрей Шарифуллин"
            />
          </div>
          <h4 class="_team__person-name">Андрей Шарифуллин</h4>
          <p class="_team__person-skills">
            PhD, Professional in Petroleum Industry with over 13 years of experience with major oil
            producers Rosneft and Bashneft Leading R&D projects in Company
          </p>
        </div>
        <div class="_team__person">
          <div class="_team__person-image">
            <img
              src="img/team/tanya.jpg"
              srcset="img/team/tanya.jpg 1x, img/team/tanya@2x.jpg 2x"
              width="134"
              height="134"
              alt="Татьяна Назарова"
            />
          </div>
          <h4 class="_team__person-name">Татьяна Назарова</h4>
          <p class="_team__person-skills">
            Проект-менеджер с трехлетним стажем ведения проектов в нефтегазовой отрасли с
            использованием фреймворков Agile и Scrum
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- /About -->
