<!-- Head -->

<section class="_block-head">
  <div class="_block-head__slider">
    <div class="swiper js-swiper-main">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="_container _block-head__slider-content">
            <div class="_container _block-head__slider-body">
              <h1 class="_block-head__title">
                Облачные сервисы для
                <br />
                нефтегазовой отрасли
              </h1>
              <p class="_block-head__description">
                Облачные решения компании Тетаком для нефтегазовой промышленности позволяют снижать
                себестоимость добычи природных энергоресурсов
              </p>
              <button
                type="button"
                class="_block-head__callback _btn js-open-modal"
                data-target="modal-feedback"
              >
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none">
                  <path
                    d="M20.01 15.38C18.78 15.38 17.59 15.18 16.48 14.82C16.13 14.7 15.74 14.79 15.47 15.06L13.9 17.03C11.07 15.68 8.42 13.13 7.01 10.2L8.96 8.54C9.23 8.26 9.31 7.87 9.2 7.52C8.83 6.41 8.64 5.22 8.64 3.99C8.64 3.45 8.19 3 7.65 3H4.19C3.65 3 3 3.24 3 3.99C3 13.28 10.73 21 20.01 21C20.72 21 21 20.37 21 19.82V16.37C21 15.83 20.55 15.38 20.01 15.38Z"
                    fill="#3C4044"
                  />
                </svg>
                <span>Обратный звонок</span>
              </button>
            </div>
            <div class="_block-head__slider-item">
              <img
                src="img/slide-1.png"
                srcset="img/slide-1.png 1x, img/slide-1@2x.png 2x"
                alt="Нефтяная платформа"
                loading="lazy"
              />
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="_container _block-head__slider-content">
            <div class="_container _block-head__slider-body">
              <h1 class="_block-head__title">
                Облачные сервисы для
                <br />
                нефтегазовой отрасли
                <br />
                Облачные сервисы для
                <br />
                нефтегазовой отрасли
              </h1>
              <p class="_block-head__description">
                Облачные решения компании Тетаком для нефтегазовой промышленности позволяют снижать
                себестоимость добычи природных энергоресурсов Облачные решения компании Тетаком для
                нефтегазовой промышленности позволяют снижать себестоимость добычи природных
                энергоресурсов
              </p>
              <button
                type="button"
                class="_block-head__callback _btn js-open-modal"
                data-target="modal-feedback"
              >
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none">
                  <path
                    d="M20.01 15.38C18.78 15.38 17.59 15.18 16.48 14.82C16.13 14.7 15.74 14.79 15.47 15.06L13.9 17.03C11.07 15.68 8.42 13.13 7.01 10.2L8.96 8.54C9.23 8.26 9.31 7.87 9.2 7.52C8.83 6.41 8.64 5.22 8.64 3.99C8.64 3.45 8.19 3 7.65 3H4.19C3.65 3 3 3.24 3 3.99C3 13.28 10.73 21 20.01 21C20.72 21 21 20.37 21 19.82V16.37C21 15.83 20.55 15.38 20.01 15.38Z"
                    fill="#3C4044"
                  />
                </svg>
                <span>Обратный звонок</span>
              </button>
            </div>
            <div class="_block-head__slider-item">
              <img
                src="img/slide-2.png"
                srcset="img/slide-2.png 1x, img/slide-2@2x.png 2x"
                alt="Нефтяная качалка"
                loading="lazy"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="_block-head__wrap">
    <div class="_container">
      <div class="_block-head__body">
        <ol class="_block-head__pagination">
          <li class="_block-head__pagination-item">
            <button type="button" data-slide="0" class="active">01</button>
          </li>
          <li class="_block-head__pagination-item">
            <button type="button" data-slide="1">02</button>
          </li>
        </ol>
      </div>
    </div>
  </div>
</section>

<!-- /Head -->
