<div class="_contacts" id="contacts">
  <div class="_contacts__map" id="map"></div>
  <div class="_container _contacts__content">
    <div></div>
    <div class="_contacts__body">
      <h2 class="_contacts__title">Наши контакты</h2>
      <a href="tel:+7 (917) 791-90-73" class="_contacts__phone">+7 (917) 791-90-73</a>
      <a href="mailto:info@tetacom.pro" class="_contacts__email">info@tetacom.pro</a>
      <address class="_contacts__address">Уфа, ул. Карла Маркса, 44, офис 46</address>
      <div class="_contacts__callback">
        <button
          type="button"
          class="_btn _btn--light-bg js-open-modal"
          data-target="modal-feedback"
        >
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none">
            <path
              d="M20.01 15.38C18.78 15.38 17.59 15.18 16.48 14.82C16.13 14.7 15.74 14.79 15.47 15.06L13.9 17.03C11.07 15.68 8.42 13.13 7.01 10.2L8.96 8.54C9.23 8.26 9.31 7.87 9.2 7.52C8.83 6.41 8.64 5.22 8.64 3.99C8.64 3.45 8.19 3 7.65 3H4.19C3.65 3 3 3.24 3 3.99C3 13.28 10.73 21 20.01 21C20.72 21 21 20.37 21 19.82V16.37C21 15.83 20.55 15.38 20.01 15.38Z"
              fill="#3C4044"
            />
          </svg>
          <span>Обратный звонок</span>
        </button>
      </div>
    </div>
    <div></div>
  </div>

  <footer class="_contacts__footer">
    <div class="_container">
      <p class="_contacts__footer-copyright" id="footer-copyright"></p>
    </div>
  </footer>
</div>
