<header class="_header">
  <a href="#top" class="_header__logo">@include('logo.html')</a>

  <div class="_header__grow"></div>

  <div class="_header__nav-bg"></div>

  <nav class="_header__nav">
    <ul class="_nav" id="gumshoe-navigation">
      <li class="_nav__item"><a href="#services" class="_nav__link">Наши услуги</a></li>
      <li class="_nav__item"><a href="#about" class="_nav__link">О нас</a></li>
      <li class="_nav__item"><a href="#products" class="_nav__link">Наши продукты</a></li>
      <li class="_nav__item"><a href="#contacts" class="_nav__link">Контакты</a></li>

      <li class="_nav__item is-touch"><a href="#" class="_btn">Вход в сервисы</a></li>
    </ul>
  </nav>

  <div class="_header__auth">
    <a href="#" class="_btn">Вход в сервисы</a>
  </div>

  <div class="_header__lang">
    <button type="button" class="_header__lang-btn">
      <span class="_header__lang-flag _header__lang-flag--en"></span>
      <span class="_header__lang-value">EN</span>
    </button>
  </div>

  <div class="_header__menu">
    <button type="button" class="_header__menu-toggle">MENU</button>
  </div>
</header>
