<header class="_header">
  <a href="#top" class="_header__logo">@include('logo.html')</a>

  <div class="_header__grow"></div>

  <div class="_header__nav-bg"></div>

  <nav class="_header__nav">
    <ul class="_nav">
      <li class="_nav__item"><a href="#services">Наши услуги</a></li>
      <li class="_nav__item"><a href="#about">О нас</a></li>
      <li class="_nav__item"><a href="#products">Наши продукты</a></li>
      <li class="_nav__item"><a href="#contacts">Контакты</a></li>
      <li class="_nav__item is-touch"><a href="#" class="_btn">Вход в сервисы</a></li>
    </ul>
  </nav>

  <div class="_header__auth">
    <a href="#" class="_btn">Вход в сервисы</a>
  </div>

  <div class="_header__lang">EN</div>

  <div class="_header__menu">
    <button type="button" class="_header__menu-toggle">MENU</button>
  </div>
</header>
