$tablet: 768px + 1px;
$desktop: 1080px + 1px;
$widescreen: 1240px;
$fullhd: 1500px;

$container-full: 1480px;
$container-widescreen: 1200px;
$container-desktop: 986px;
$container-tablet: 720px;

:root {
  --font-primary: "YandexSans", sans-serif;
  --font-secondary: "OpenSans", sans-serif;

  --primary-color: #ffef59;
  --bg-color: #262835;
  --white-color: #ffffff;

  --grey-30: #6b6d7b;
  --grey-50: #292930;
  --grey-80: #d7d8dd;
  --grey-90: #3c4044;

  --gap: 20px;

  --delay: 0.2s;

  --header: 58px;
}

@include desktop {
  :root {
    --header: 92px;
  }
}
