$tablet: 768px + 1px;
$desktop: 1080px + 1px;
$widescreen: 1240px;
$fullhd: 1500px;

$container-full: 1480px;
$container-widescreen: 1200px;
$container-desktop: 986px;
$container-tablet: 720px;

:root {
  --delay: 0.2s;
}
